.cvDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cvDisplayContainer div > h1 {
  font-size: 20px;
  font-weight: normal;
}

.cvDisplayContainer > div {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 1.2rem;
  padding: 3rem 3rem;
  width: 640px;
  height: 900px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  font-size: 12px;
}

.collapse {
  height: 0;
  margin: 0;
  padding: 0;
  cursor: default;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}

.personal ul {
  display: flex;
  gap: 10px;
}

.personal ul li {
  list-style: none;
  text-decoration: underline;
  color: rgb(76 5 25);
  font-size: 12px;
}
.cvSectionDisplayContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cvSectionDisplay {
  display: flex;
  flex-direction: column;
  gap: 6px;
  letter-spacing: 0.6px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.projectLink:hover {
  text-decoration: underline !important;
}
